#button_bar {
    display: flex;
    padding: 10px 1.5% 0 1.5%;
    height: 32px;
    align-items: center;
    gap: 10px;
    font-size: 9pt;
    color: #6C707E;
}

/* default button */
.button {
    position: relative;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 8px 16px;
    background-color: white;
    border: 2px solid #DBDCDE;
    text-align: center;
    cursor: pointer;
    font-size: 8pt;
    color: #6C707E;
}
.button:hover {
    background-color: #EAEBED;
    border: 2px solid #DBDCDE;
}
.button:active {
    background-color: #DBDCDE;
    border: 2px solid #DBDCDE;
}
.button.selected {
    background-color: #3573F0;
    border: 2px solid #3573F0;
    color: white;
}
.button:disabled {
    background-color: #DBDCDE;
    cursor: not-allowed;
}

/* dropdown checkbox */
#table_selector {
    position: relative;
    width: 10rem;
}
#dropdown_button {
    width: 100%
}
#dropdown_menu {
    position: absolute;
    display: none;
    margin-top: 4px;
    border-radius: 8px;
    background-color: white;
    border: 2px solid #DBDCDE;
    box-sizing: border-box;
    width: 100%;
    font-size: 9pt;
    color: #6C707E;
    z-index: 10;
}
.dropdown_item {
    padding: 4px 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#refresh_button, #playoffs {
    margin-right: 6px;
}

/* chart butons */
#toggle_charts {
    width: calc(100% + 20px);
    height: 30px;
    cursor: pointer;
    z-index: 10;
    border: none;
    background-color: white;
}
#charts_container:hover {
    transform: translateY(90%);
}