html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    font-size: 10pt;
    background-color: #F0F4F9;
}
div::-webkit-scrollbar {
    display: none;
}

/* team colors */
:root {
    --atl: #E03A3E; --atl-alternate: #FDB927;
    --bos: #008348; --bos-alternate: #BA9653;
    --bkn: #000000; --bkn-alternate: #FFFFFF;
    --cha: #00788C; --cha-alternate: #1D1160;
    --chi: #CE1141; --chi-alternate: #000000;
    --cle: #860038; --cle-alternate: #B48B52;
    --dal: #0053BC; --dal-alternate: #B8C4CA;
    --den: #0E2240; --den-alternate: #FEC524;
    --det: #1D428A; --det-alternate: #DE1E35;
    --gsw: #1D428A; --gsw-alternate: #FFC600;
    --hou: #CE1141; --hou-alternate: #000000;
    --ind: #002D62; --ind-alternate: #FDB525;
    --lac: #12173F; --lac-alternate: #CF152D;
    --lal: #552583; --lal-alternate: #FDB927;
    --mem: #5D76A9; --mem-alternate: #0C2340;
    --mia: #98002E; --mia-alternate: #F9A01B;
    --mil: #00471B; --mil-alternate: #EEE1C6;
    --min: #0C2340; --min-alternate: #78BE20;
    --nop: #002B5C; --nop-alternate: #D12232;
    --nyk: #1D4188; --nyk-alternate: #F58426;
    --okc: #007AC1; --okc-alternate: #F05033;
    --orl: #0077C0; --orl-alternate: #C4CEd4;
    --phi: #006BB6; --phi-alternate: #CF102D;
    --phx: #1D1160; --phx-alternate: #E56020;
    --por: #E03A3E; --por-alternate: #000000;
    --sac: #5A2D81; --sac-alternate: #63727A;
    --sas: #000000; --sas-alternate: #BBC4CA;
    --tor: #000000; --tor-alternate: #BD1B21;
    --uta: #002B5C; --uta-alternate: #00471B;
    --was: #002B5C; --was-alternate: #E31837;
}

/* main container */
#main {
    display: flex;
    flex-direction: column;
    height: calc(100% - 96px);
    padding-top: 10px;
    position: relative;
    align-items: center;
    overflow: hidden;
}

/* table containers */
#table_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 97%;
    position: relative;
    padding: 16px;
    border-radius: 14px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    box-sizing: border-box;
    background-color: #FFF;
    transition: height 0.3s ease-in-out;
}
#table_container.expanded {
    height: 50%;
}
#table1, #table2 {
    height: 100%;
    padding-top: 4px;
    overflow-y: auto;
    order: 2;
}

/* table header */
.gtable_header {
    display: none;
}
#header {
    display: flex;
    justify-content: flex-start;
    order: 1;
}
.header_cell {
    box-sizing: border-box;
    padding-left: 0.33em;
    text-align: left;
    overflow: hidden;
    color: #6C707E;
    font-size: 8pt;
    font-weight: bold;
}
.header_xl {
    min-width: 12% !important;
    max-width: 12% !important;
    width: 12% !important;
}
.header_l {
    min-width: 4% !important;
    max-width: 4% !important;
    width: 4% !important;
}
.header_m {
    min-width: 3% !important;
    max-width: 3% !important;
    width: 3% !important;
}
.header_s {
    min-width: 2% !important;
    max-width: 2% !important;
    width: 2% !important;
}

/* table cells */
.table_cell {
    border: none !important;
}
td:focus {
    background-color: #FFF !important;
}

/* injury popup */
.injuryAlert {
    color: darkorange;
    font-size: 8pt;
    font-weight: bold;
}
.outAlert {
    color: red;
    font-size: 8pt;
    font-weight: bold;
}
[injury-tooltip] {
    display: inline-block;
    position: relative;
    padding: 4px;
}
[injury-tooltip]:before {
    content: attr(injury-tooltip);
    display: none;
    position: absolute;
    background: #000;
    color: #FFF;
    font-weight: normal;
    padding: 4px 8px;
    text-align: center;
    border-radius: 4px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 100%;
    margin-left: 6px;
    white-space: nowrap;
}
[injury-tooltip]:after {
    left: 100%;
    border-width: 6px 6px 6px 0;
    border-right-color: #000;
}
[injury-tooltip]:hover:before,
[injury-tooltip]:hover:after {
    display: block;
    z-index: 50;
}