html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F0F4F9;
}

div::-webkit-scrollbar {
    display: none;
}

/* team colors */
:root {
    --atl: #E03A3E; --atl-alternate: #FDB927;
    --bos: #008348; --bos-alternate: #BA9653;
    --bkn: #000000; --bkn-alternate: #FFFFFF;
    --cha: #00788C; --cha-alternate: #1D1160;
    --chi: #CE1141; --chi-alternate: #000000;
    --cle: #860038; --cle-alternate: #B48B52;
    --dal: #0053BC; --dal-alternate: #B8C4CA;
    --den: #0E2240; --den-alternate: #FEC524;
    --det: #1D428A; --det-alternate: #DE1E35;
    --gsw: #1D428A; --gsw-alternate: #FFC600;
    --hou: #CE1141; --hou-alternate: #000000;
    --ind: #002D62; --ind-alternate: #FDB525;
    --lac: #12173F; --lac-alternate: #CF152D;
    --lal: #552583; --lal-alternate: #FDB927;
    --mem: #5D76A9; --mem-alternate: #0C2340;
    --mia: #98002E; --mia-alternate: #F9A01B;
    --mil: #00471B; --mil-alternate: #EEE1C6;
    --min: #0C2340; --min-alternate: #78BE20;
    --nop: #002B5C; --nop-alternate: #D12232;
    --nyk: #1D4188; --nyk-alternate: #F58426;
    --okc: #007AC1; --okc-alternate: #F05033;
    --orl: #0077C0; --orl-alternate: #C4CEd4;
    --phi: #006BB6; --phi-alternate: #CF102D;
    --phx: #1D1160; --phx-alternate: #E56020;
    --por: #E03A3E; --por-alternate: #000000;
    --sac: #5A2D81; --sac-alternate: #63727A;
    --sas: #000000; --sas-alternate: #BBC4CA;
    --tor: #000000; --tor-alternate: #BD1B21;
    --uta: #002B5C; --uta-alternate: #00471B;
    --was: #002B5C; --was-alternate: #E31837;
}

/* top header game schedule bar */
#top_bar {
    display: flex;
    flex-wrap: wrap;
    height: 44px;
    gap: 10px;
    padding: 16px 1.5% 0 1.5%;
}
.matchup_card {
    display: flex;
    flex-direction: row;
    min-width: 12rem;
    max-width: 12rem;
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 10;
}
.col1 {
    text-align: right;
    padding: 8px 0 4px 0;
}
.col2 {
    padding: 8px 0 4px 0;
}
.away, .home {
    font-size: 10pt;
    font-weight: bold;
}
.time {
    padding: 3px;
    border-radius: 3px;
    font-size: 8pt;
    background-color: #333;
    color: white;
}
.live {
    padding: 3px;
    border-radius: 3px;
    font-size: 8pt;
    background-color: #C94F4F;
    color: white;
}
.spread, .total {
    color: #555;
    font-size: 7pt;
}

/* main container */
#main {
    display: flex;
    flex-direction: column;
    height: calc(100% - 76px);
    padding-top: 16px;
    position: relative;
    align-items: center;
    overflow: hidden;
}

/* table containers */
#table_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 97%;
    position: relative;
    padding: 16px;
    border-radius: 14px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    box-sizing: border-box;
    background-color: #FFF;
    transition: height 0.3s ease-in-out;
}
#table_container.expanded {
    height: 50%;
}
#table1, #table2 {
    height: 100%;
    overflow-y: auto;
    order: 2;
}
.table {
    padding-top: 10px;
}

/* google table header (hidden) */
.headerCell {
    display: none;
}
/* table header */
#header {
    display: flex;
    justify-content: flex-start;
    order: 1;
}
.header_name, .header_line, .header_colored, .header_cell {
    border: black solid 1px;
    font-size: 10pt;
    overflow: hidden;
    box-sizing: border-box;
}
.header_name {
    min-width: 14% !important;
    max-width: 14% !important;
    width: 14% !important;
}
.header_line {
    min-width: 5% !important;
    max-width: 5% !important;
    width: 5% !important;
}
.header_colored {
    min-width: 3% !important;
    max-width: 3% !important;
    width: 3% !important;
}
.header_cell {
    min-width: 2% !important;
    max-width: 2% !important;
    width: 2% !important;
}

/* table cells */
.tableCell {
    border: none !important;
}
td:focus {
    background-color: #FFF !important;
}

/* injury popup */
.injuryAlert {
    color: darkorange;
    font-size: 8pt;
    font-weight: bold;
}
.outAlert {
    color: red;
    font-size: 8pt;
    font-weight: bold;
}
[injury-tooltip] {
    display: inline-block;
    position: relative;
    padding: 4px;
}
[injury-tooltip]:before {
    content: attr(injury-tooltip);
    display: none;
    position: absolute;
    background: #000;
    color: #FFF;
    font-weight: normal;
    padding: 4px 8px;
    text-align: center;
    border-radius: 4px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 100%;
    margin-left: 6px;
    white-space: nowrap;
}
[injury-tooltip]:after {
    left: 100%;
    border-width: 6px 6px 6px 0;
    border-right-color: #000;
}
[injury-tooltip]:hover:before,
[injury-tooltip]:hover:after {
    display: block;
    z-index: 50;
}

/* charts containers */
#charts_container {
    display: flex;
    height: calc(50% - 26px);
    width: 97%;
    border-radius: 14px 14px 0 0;
    background-color: #FFF;
    position: absolute;
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    box-sizing: border-box;
    overflow:  hidden;
    transition: transform 0.3s ease-in-out;
    transform: translateY(calc(100% - 2rem));
}
#charts_container.expanded {
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    transform: translateY(0);
}
/* pie chart */
#pie_chart1, #pie_chart2 {
    width: 50%;
    height: 100%;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}
/* column chart */
#column_chart {
    width: 50%;
    height: 100%;
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
}
/* chart butons */
#toggle_charts {
    width: calc(100% + 20px);
    height: 2rem;
    cursor: pointer;
    z-index: 10;
    border: none;
    background-color: #FFF;
}
#controls {
    position: absolute;
    z-index: 10;
    bottom: 0;
}