html, body {
    height: 100%;
}
body {
    margin: 0;
}
div::-webkit-scrollbar {
    display: none;
}
#table {
    height: 60%;
}
.google-visualization-table .gradient {
    background-image: none !important;
    background-color: #FFF;
    border: none !important;
}
.tableCell {
    border: none !important;
}
.google-visualization-table-tr-sel {

}
#piechart {
    width: 500px;
    height: 300px;
}